* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./assets/bg123.jpg) no-repeat center center fixed;
    font-family: 'Oxygen', sans-serif;
    /* font-family: 'Libre Baskerville', serif; */
}

.gallery {
    width: 200px;
    height: 200px;
}

.ppl {
    margin-top: 10px;
    margin-bottom: 20px;
    align-content: center;
}

a {
    text-decoration: none;
}